.orderCard {
  box-sizing: border-box;
  padding: 24px;
  max-width: 844px;
  width: 100%;
  border-radius: 40px;
  background-color: #1C1C21;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-decoration: none;
  color: white;
}


.orderCard__orderInfo {
  display: flex;
  justify-content: space-between;
}

.orderCard__orderIngredientsInfo {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.orderCard__orderIngredients {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.orderCard__orderIngredientsItem {
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #801AB2;
  background-color: #131316;
}

.orderCard__orderIngredientsItem_last {
  position: relative;

}

.orderCard__remain {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: rgba(28, 28, 33, 0.6);
  border-radius: 50%;
}

.orderCard__orderIngredientsItem:not(:first-of-type) {
  margin-left: -16px;
}

.orderCard__orderPrice {
  display: flex;
  align-items: center;
  gap: 8px;
}

.orderCard__status_done {
  color: #00CCCC;
}