.ingredientCard {
  min-height: 208px;
  max-width: 272px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
  cursor: pointer;
  position: relative;
}

.ingredientCard__link {
  text-decoration: none;
  color: #F2F2F3;
}

.ingredientCard__count {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4C4CFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.ingredientCard:hover {
  opacity: .9;
}

.ingredientCard__image {
  max-width: 240px;
}

.ingredientCard__price {
  margin: 8px 0px;
  display: flex;
  justify-content: center;
  gap: 8px;
}