.forgotPasswordForm {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.forgotPasswordForm__header {
  align-self: center;
}

.forgotPasswordForm__caption {
  display: flex;
  gap: 8px;
}

.forgotPasswordForm__link {
  text-decoration: none;
  color: #4C4CFF;
  transition: .3s;
}

.forgotPasswordForm__link:hover {
  opacity: .8;
}