.resetPasswordForm {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.resetPasswordForm__header {
  align-self: center;
}

.resetPasswordForm__caption {
  display: flex;
  gap: 8px;
}

.resetPasswordForm__link {
  text-decoration: none;
  color: #4C4CFF;
  transition: .3s;
}

.resetPasswordForm__link:hover {
  opacity: .8;
}